Source: kdelibs
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Isaac Clerencia <isaac@debian.org>, Christopher Martin <chrsmrtn@debian.org>,
 Adeodato Simó <dato@net.com.org.es>, Josh Metzler <joshdeb@metzlers.org>,
 Modestas Vainius <geromanas@mailas.com>, Ana Beatriz Guerrero Lopez <ana@debian.org>,
 Sune Vuorela <debian@pusling.com>
Build-Depends: cdbs, debhelper (>= 5), quilt, cmake, libqt4-dev (>>4.3~beta~),
 libsoprano-dev,
 libstreams-dev (>=0.5.1), libstreamanalyzer-dev (>=0.5.1),
 libxml2-dev, libxslt1-dev, shared-mime-info, libgif-dev, libxml2-utils,
 libkeyutils-dev
Standards-Version: 3.7.2

Package: kdelibs
Section: libs
Architecture: all
Depends: ${shlibs:Depends}, kdelibs5 (>= ${Source-Version}), kdelibs-data (>= ${Source-Version}), kdelibs-bin (>= ${Source-Version})
Description: core libraries from the official KDE 4 alpha release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes the core KDE libraries, binaries, and data,
 needed by virtually all KDE applications. It does not include
 development files.

Package: kdelibs-data
Section: libs
Architecture: all
Description: core shared data for all KDE 4 alpha applications
 This package contains all the architecture independent data files
 commonly used by KDE applications. You need these data files to run
 KDE applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdelibs' packages for more information.

Package: kdelibs5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, kdelibs-data (>= ${Source-Version}), kdelibs-bin (>= ${Source-Version})
Description: core libraries for all KDE 4 alpha applications
 This package contains all the shared libraries. You need these libraries to 
 run KDE applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdelibs' packages for more information.

Package: kdelibs4-dev
Section: libdevel
Architecture: any
Depends: kdelibs5 (= ${Source-Version}), libqt4-dev (>>4.3~beta~)
Description: development files for the KDE 4 alpha core libraries
 This package contains all the headers and other related files needed
 to compile KDE applications, or develop applications which use the
 core KDE libraries.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdelibs' packages for more information.

Package: kdelibs4-doc
Section: doc
Architecture: all
Provides: kdelibs-doc
Description: developer documentation for the KDE 4 alpha core libraries
 This package contains documentation for the core KDE libraries, of
 use more for developers creating applications which use the core
 KDE libraries, than regular users.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdelibs' packages for more information.

Package: kdelibs-bin
Architecture: any
Depends: ${shlibs:Depends}
Description: binaries for all the KDE 4 alpha core applications
 This package contains all the common core binaries used by all KDE 4
 applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde' and 'kdelibs' packages for more information.

Package: qt4-designer-kde4-plugins
Architecture: any
Depends: qt4-designer, ${shlibs:Depends}
Description: kde4 widgets for qt4 designer
 This package contains the needed widgets to qt4 designer to make you able 
 to design kde4 applications.
