Source: kde4libs
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 6), quilt, cmake (>= 2.6.0~), shared-mime-info,
 libcupsys2-dev, libdbus-1-dev, libqt4-dev (>= 4.4.0~),
 libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libkeyutils-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libpng-dev, libssl-dev, libsm-dev,
 libsoprano-dev (>= 2.0.98), libstreamanalyzer-dev,
 libxml2-dev, libxml2-utils,  libxslt1-dev, libxtst-dev, libgif-dev,
 libavahi-common-dev, libaspell-dev, libbz2-dev, libenchant-dev, libfam-dev,
 libjasper-dev, libopenexr-dev, libpcre3-dev, libtiff4-dev, hspell, xsltproc,
 libglu1-mesa-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/branches/kde4/packages/kdelibs
Vcs-Svn: svn://svn.debian.org/pkg-kde/branches/kde4/packages/kdelibs

Package: kdelibs5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, kdelibs5-data (>= ${source:Version}),
 kdelibs-bin(>= ${binary:Version}), dbus-x11, shared-mime-info, xauth
Description: core libraries for all KDE 4 applications
 This package contains shared libraries needed to run KDE 4 applications.
 .
 This package is part of the KDE 4 libraries module.

Package: kdelibs5-data
Section: libs
Architecture: all
Depends: hicolor-icon-theme
Description: core shared data for all KDE 4 applications
 This package contains architecture-independent data files needed to run KDE 4
 applications.
 .
 This package is part of the KDE 4 libraries module.

Package: kdelibs5-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, kdelibs5 (= ${binary:Version}), cmake (>= 2.6.0~), libqt4-dev (>= 4.4.0~), libsoprano-dev (>= 2.0.98)
Suggests: kdelibs5-doc (= ${source:Version})
Replaces: kdebase-runtime-data (<< 4:4.0.60)
Conflicts: kdelibs4-dev
Description: development files for the KDE 4 core libraries
 This package contains development files for building KDE 4 applications and
 other software that uses the KDE 4 libraries.

Package: kdelibs5-doc
Section: doc
Architecture: all
Provides: kdelibs-doc
Description: developer documentation for the KDE 4 core libraries
 This package contains the API documentation for the KDE core libraries,
 for use by KDE 4 application developers.
 .
 This package is part of the KDE 4 libraries module.

Package: kdelibs-bin
Architecture: any
Depends: ${shlibs:Depends}, kdelibs5 (= ${binary:Version})
Conflicts: kjscmd
Description: executables for all KDE 4 core applications
 This package contains common executables used by all KDE 4 applications.
 .
 This package is part of the KDE 4 libraries module.

Package: kdelibs5-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdelibs5 (= ${binary:Version}), libqt4-dbg (>= 4.4.0~), libc6-dbg [amd64]
Conflicts: kdelibs-dbg (>= 4:3.91.0-1)
Replaces: kdelibs-dbg (>= 4:3.91.0-1)
Description: debugging symbols for the KDE 4 libraries module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 libraries module.

Package: libphonon-dev
Section: libdevel
Architecture: any
Depends: libphonon4 (= ${binary:Version})
Replaces: kdelibs5-dev (<< 4:4.0.71)
Description: development files for the Phonon multimedia framework
 Phonon is the Qt 4 multimedia API, which provides a task-oriented abstraction
 layer for capturing, mixing, processing, and playing audio and video content.
 .
 This package contains development files for building software that uses the
 Phonon libraries.

Package: libphonon4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdelibs5 (<< 4:3.98.0~svn755919-1)
Description: Phonon multimedia framework for Qt 4
 Phonon is the Qt 4 multimedia API, which provides a task-oriented abstraction
 layer for capturing, mixing, processing, and playing audio and video content.
 .
 This package contains the files necessary to run applications that use Phonon.
