#!/usr/bin/make -f

BINARYVERSION ?= $(shell dpkg-parsechangelog | grep '^Version: ' | sed 's/^Version: //')
UPSTREAMVERSION ?= $(shell echo '$(BINARYVERSION)' | sed 's/^\(.*\)-.*/\1/')
UPSTREAMVERSION := $(UPSTREAMVERSION)
#UPSTREAMVERSION ?= 4:4.2.0
#PLASMA_ABI=$(shell grep 'plasma-abi-' debian/libplasma3.symbols.in | head -n1 | sed 's/^.*\(plasma-abi-\S\+\).*/\1/')
RUNTIME_DEPS := kdebase-runtime (>= 4:4.4.0)

DEB_DBG_PACKAGE_ALL := kdelibs5-dbg

#bump version for every new upstream version!
DEB_DH_MAKESHLIBS_ARGS_libkdecore5 := -V'libkdecore5 (>= $(UPSTREAMVERSION)), $(RUNTIME_DEPS)'
DEB_DH_MAKESHLIBS_ARGS_ALL := -V
#DEB_DH_MAKESHLIBS_ARGS_libplasma3 := -V'libplasma3 (>= $(UPSTREAMVERSION)), $(PLASMA_ABI)'

# remove dependencies on kdebase-runtime and phonon (the metapackage)
DEB_DH_SHLIBDEPS_ARGS_ALL := -- -xkdebase-runtime -xphonon

# Libraries stuff
DEB_KDE43_LIBRARY_PACKAGES := libkdecore5 libkdeui5 libkde3support4 libkdesu5 libkdnssd4 \
    libkfile4 libkhtml5 libkimproxy4 libkio5 libkjsapi4 libkjsembed4 libkmediaplayer4 \
    libknewstuff2-4 libknotifyconfig4 libkntlm4 libkparts4 libkpty4 libkrosscore4 libkrossui4 \
    libktexteditor4 libkutils4 libnepomuk4 libsolid4 libthreadweaver4
DEB_ALL_LIBRARIES_SUBST_PACKAGES = kdelibs5-dev kdelibs5-dbg
DEB_KDE43_LIBRARIES_SUBST_PACKAGES = kdelibs5
DEB_STRICT_LOCAL_SHLIBS_PACKAGES = $(DEB_LIBRARY_PACKAGES)

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk
include /usr/share/pkg-kde-tools/qt-kde-team/1/library-packages.mk

binary-post-install/kdelibs5-data::
	chmod a+x debian/kdelibs5-data/usr/share/kde4/apps/kconf_update/ksslcertificatemanager.upd.sh

#binary-predeb/libplasma3::
#	echo plasma:abi-provides=$(PLASMA_ABI) >> debian/libplasma3.substvars
