#!/usr/bin/make -f

#UPSTREAMVERSION ?= $(shell dpkg-parsechangelog | grep '^Version: ' | sed 's/^Version: \(.*\)-.*/\1/')
UPSTREAMVERSION ?= 4:4.1.2
RUNTIME_DEPS := kdebase-runtime (>= 4:4.1.2)

DEB_DBG_PACKAGE_kdelibs5 := kdelibs5-dbg
DEB_DBG_PACKAGE_kdelibs-bin := kdelibs5-dbg

DEB_CMAKE_EXTRA_FLAGS += -DKDE4_ENABLE_EXPERIMENTAL_LIB_EXPORT=on

#bump version for every new upstream version!
DEB_DH_MAKESHLIBS_ARGS_kdelibs5 := -V'kdelibs5 (>= $(UPSTREAMVERSION)), $(RUNTIME_DEPS)'

# remove dependencies on kdebase-runtime and phonon (the metapackage)
DEB_DH_SHLIBDEPS_ARGS_ALL := -- -xkdebase-runtime -xphonon

include debian/cdbs/kde.mk
